.badge {
  padding: 4px;
  border-radius: 3px;
  font-size: 0.625rem;
  line-height: 0.625rem;
  border: 1px solid #0000001a;
  text-align: center;
}

.badge-yellow {
  background-color: var(--bg-yellow);
  color: var(--fg-yellow);
}

.badge-orange {
  background-color: var(--bg-orange);
  color: var(--fg-orange);
}

.badge-red {
  background-color: var(--bg-red);
  color: var(--fg-red);
}

.badge-green {
  background-color: var(--bg-green);
  color: var(--fg-green);
}

.badge-blue {
  background-color: var(--bg-blue);
  color: var(--fg-blue);
}

.badge-gray {
  background-color: var(--bg-gray);
  color: var(--fg-gray);
}

.badge-round {
  border-radius: 9999px;
  background-color: var(--bg-gray);
  color: var(--fg-gray);
}
